@keyframes spinners-react-round-filled-outer {
  40%, 60% { r: 4px; }
}

@keyframes spinners-react-round-filled-center {
  30%, 70% { r: 4px; }
}

@keyframes spinners-react-round-filled-inner {
  20%, 80% { r: 4px; }
}
